<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <div style="text-align: center">A candidate applied to one of your jobs on AllPhysicianCareers.com!</div>
  <h3 style="text-align: center">Name:</h3>
  <div style="text-align: center"><%="#{@application.first_name} #{@application.last_name}"%></div>
  <h3 style="text-align: center">Email:</h3>
  <div style="text-align: center"><%=@application.email%></div>
  <h3 style="text-align: center">Specialty:</h3>
  <div style="text-align: center"><%=@application.specialty%></div>
  <h3 style="text-align: center">Job Id:</h3>
  <div style="text-align: center"><%=@job.aid%></div>
  <h3 style="text-align: center">Job City:</h3>
  <div style="text-align: center"><%=@job.city%></div>
  <h3 style="text-align: center">Job State</h3>
  <div style="text-align: center"><%=@job.state%></div>
  <h3 style="text-align: center">Citizenship:</h3>
  <div style="text-align: center"><%=@application.citizenship%></div>
  <h3 style="text-align: center">Location Preference:</h3>
  <div style="text-align: center"><%=@application.location_preference%></div>
  <h3 style="text-align: center">Comments:</h3>
  <div style="text-align: center"><%=@application.comments%></div>
  <h4>If the candidate uploaded a CV, it is attached below!</h4>

</body>
</html>