<%=form_tag({action: :create, controller: :applications}, multipart: true, id: "new-job-application") do%>
  <%=hidden_field_tag "application[job_id]", @job.id%>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Candidate Information</h4> 
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input type="text" name="application[first_name]" class="form-control" placeholder="First Name" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input type="text" name="application[last_name]" class="form-control" placeholder="Last Name" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input type="email" name="application[email]" class="form-control" placeholder="Email" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input type="tel" name="application[phone_number]" class="form-control" placeholder="Phone Number">
          </div>
        </div>
      </div>
      <div class="row">
        <div id="new-application-citizenship-input" class="col-md-6">
          <div class="form-group">
            <select class="form-control" name="application[citizenship]" required>
              <option value="">Citizenship</option>
              <option value="US">US</option>
              <option value="GC">GC</option>
              <option value="H1">H1</option>
              <option value="J1">J1</option>
              <option value="Other">Other</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input id="job-application-location-preference" type="text" name="application[location_preference]" class="form-control" placeholder="Location Preference e.g. CA, IL, GA">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="form-group">
            <select name="application[specialty]" class="form-control" required>
                <option value="">Specialty</option>
              <%=Specialty.pluck(:name).sort.each do |specialty|%>
                <option value="<%=specialty%>"><%=specialty%></option>
              <%end%>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div id="new-application-cv-input" class="form-group">
            <h4>Upload Your CV</h4>
            <label for="CV"><%=fa_icon("cloud-upload")%></label>
            <%=file_field_tag "CV", name: "application[cv]", class: "cloud-file-input"%>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <textarea name="application[comments]" class="form-control" placeholder="Additional Comments i.e. explain 'other' citizenship, special requirements, malpractice issues, contact availability..." rows="5"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="collapse" id="termsOfUse">
      <div class="well">
          <%=render "shared/terms_of_use"%>
      </div>
    </div>
    <aside id="application-footer-terms-of-use">By applying to this job you agree to our <a role="button" data-toggle="collapse" href="#termsOfUse" aria-expanded="false" aria-controls="termsOfUse">Terms of Use</a>.</aside>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary submit-application-btn">Apply</button>
  </div>

<%end%>




  
  
  
  
  
