<div class="box-form-page">
  <div class="row justify-content-center">
    <div class="box-form-container col-md-8" id="new-job-form-container">
      <div class="box-title-bar">
        <h3>
          <%= action_name == "new" ?
            "Post a New Job" :
            "Edit Job"
          %>
        </h3>
      </div>
      <%= form_for @job, html: {class: "box-form"} do |f| %>

        <div class="field">
          <%= f.label :specialty %><br />
          <%= f.select :specialty, 
            Specialty.pluck(:name).sort - ["Advanced Practice - ALL"] %>
        </div>

        <div class="field">
        <%= f.label :city %><br />
        <%= f.text_field :city %>       
        </div>

        <div class="field">
        <%= f.label :state %><br />
        <%= f.select :state, CS.states(:us).invert %>
        </div>

        <div class="field">
        <%= f.label :job_description %><br />
        <%= f.text_area :job_description%>
        </div>

        <div class="field">
        <%= f.label :subspecialty_keywords %><br />
        <%= f.text_field :subspecialty_keywords %>
        </div>

        <div class="field">
        <%= f.label :distance_to_metro %><br />
        <%= f.text_field :distance_to_metro %>
        </div>

        <div class="field">
        <%= f.label :contact_email %><br />
        <%= f.text_field :contact_email %>
        </div>

        <div class="submit-controls">
          <%= f.submit class: "btn-submit btn btn-large btn-success" %>
          <% if action_name == "edit" %>
            <%= link_to "Delete Job", job_path(@job), method: :delete, class: "btn btn-danger", data: {confirm: 'Are you sure?'}  %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

