<div class="table-page-container">
  <h1>Your Applications</h1>
  <div class="table-container">
    <table class="table oceanic-table clickable table-responsive">
      <thead>
        <tr>
          <td>Specialty</td>
          <td>Location</td>
          <td>Application Date</td>
        </tr>
      </thead>
      <tbody>
        <% @applications.each do |application| %>
          <tr data-link="<%= job_path(application.job)%>">
            <td><%= application.job.specialty %></td>
            <td><%= application.job.city%>, <%= application.job.state%></td>
            <td><%= format_date(application.created_at) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

