
<div class="box-form-page">
  <div class="row justify-content-center">
    <div class="box-form-container col-md-6 ">
      <div class="box-title-bar">
        <h3>Forgot your password?</h3>
      </div>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "box-form" }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="submit-controls">
          <%= f.submit "Send me reset password instructions", class: "btn" %>
        </div>
      <% end %>
      <div class="box-footer">
        <%= render "users/shared/links" %>
        <%= link_to "Back", :back %>
      </div>
    </div>
  </div>
</div>
