<!DOCTYPE html>
<html>
  <head>
    <title>MedicalJobBoard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="app-container">
      <div id="nav-main">
        <div id="brand"><%=link_to "Medical Job Board", "/"%></div>
      </div>
      <%= yield %>
    </div>
    
  </body>
</html>
