<!DOCTYPE html>
<html>
  <head>
    <%=favicon_link_tag "favicon2.ico"%>
    <title>AllPhysicianCareers</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Catamaran:800|Jaldi:400,700|Open+Sans+Condensed:300,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div id="app-container">
      <div id="nav-main" class="nav ocean-breeze">
        <div id="brand"><%=link_to("AllPhysicianCareers", "/")%> <%=fa_icon("heartbeat")%></div>
        <a class="nav-main-links" href="/">Search Jobs</a>
        <%= link_to "Post a Job", new_job_path, class:"nav-main-links"%>
        <a class="nav-main-links" data-toggle="modal" data-target="#contactInformationModal">Contact</a>
        <div class="nav-right">
          <% if user_signed_in? %>
            <%= link_to current_user.email, edit_user_registration_path %>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-main-links sign-in-link" %>
          <% else%>
            <%= link_to "Sign In", new_user_session_path, class: "nav-main-links sign-in-link"%>
          <% end %>
        </div>
      </div>
      <div id="main-content-container" class="container-fluid">
        <%=render "main/contact"%>
        <%if alert%>
          <aside class="alert alert-warning" id="alert"><%= alert %></aside>
        <%elsif notice%>
          <aside class="alert alert-info" id="notice"><%= notice %></aside>
        <%end%>
        <%= yield %>
      </div>
      
    </div>
    
  </body>
</html>
