<!DOCTYPE html>
<html>
  <head>
    <%=favicon_link_tag "favicon2.ico"%>
    <title>AllPhysicianCareers</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Catamaran:800|Jaldi:700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="app-container">
      <div id="nav-main" class="ocean-breeze">
        <div id="brand"><%=link_to("AllPhysicianCareers", "/")%> <%=fa_icon("heartbeat")%></div>
      </div>
      <%= yield %>
    </div>
    
  </body>
</html>
